<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="/styles/assets/crownFavicon.png">
</head>

<body ng-controller="questionsCtrl">
  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button><span>+</span> Add Question</button>
  </header>
  <article>
    <nav>
      <a>All Questions</a>
      <a>Easy</a>
      <a>Medium</a>
      <a>Hard</a>
      <a>Search by Animal</a>
    </nav>
    <div class="search">
      <input type="text" placeholder="Animal to search by">
    </div>
    <div ng-repeat="question in questions" class="questionCard">
      <h1>{{question.question}}</h1>
      <img src="./styles/assets/gear.svg" alt="gear">
      <ul class="questionOptions">
        <li ng-repeat="(key,val) in question.options">{{ val }}</li>
      </ul>
    </div>
    <!-- Questions go here -->

  </article>

  <div class="modal" ng-show="{{modalAddOrEdit}}">
    <form>
      <h4 class="close">X</h4>
      <span>Question</span><input type="text" ng-model="{{newQuestion.question}}">
      <span>Animal it's about</span><input type="text" ng-model="{{newQuestion.animal}}">
      <span>Difficulty</span>
      <div class="range">
        <input type="range" min="1" max="3" ng-model="{{newQuestion.difficulty}}">

        <h5>{{newQuestion.difficulty}}</h5>
      </div>
      <h4>Options</h4>
      <div>
        <input type="radio" ng-model="{{newQuestion.correct_answer}}" value="1">
        <input type="text" ng-model="{{newQuestion.options.1}}">
      </div>
      <div>
        <input type="radio" ng-model="{{newQuestion.answer}}" value="2">
        <input type="text" ng-model="{{newQuestion.options.2}}">
      </div>
      <div>
        <input type="radio" ng-model="{{newQuestion.answer}}" value="3">
        <input type="text" ng-model="{{newQuestion.options.3}}">
      </div>
      <div>
        <input type="radio" ng-model="{{newQuestion.answer}}" value="4">
        <input type="text" ng-model="{{newQuestion.options.4}}">
      </div>

      <!--Add question buttons-->
      <div class="buttons">
        <button class="green" ng-click="{{newQuestion.saveNew()}}">Save Question</button>
        <button ng-click="{{newQuestion.cancelSave()}}">Cancel</button>
      </div>

      <!--Edit & Delete question buttons-->
      <div class="buttons">
        <button class="red" ng-click="{{editQuestion.deleteEdit()}}">Delete Question</button>
        <button class="green" ng-click="{{editQuestion.saveEdit()}}">Save Changes</button>
        <button ng-click="{{editQuestion.cancelEdit()}}">Cancel</button>
      </div>

    </form>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script> -->
  <script src="./js/app.js" charset="utf-8"></script>
  <script src="./js/questionsCtrl.js"></script>
</body>

</html>